#
#  .travis.yml
#  pyblox
#

#  File is used to test & build to ensure code runablility on the
#  various Python versions supported. If a build breaks, we can
#  isolate and let developers know ahead of time.
#
#  yr. 2021
#

# General
language: python
python:

  # Stable python version releases
  - "3.4"
  - "3.5"
  - "3.6" # Default test
  - "3.7"
  - "3.8"
  - "3.9"

  # Most recent python version
  - "nightly"
  
  # PyPy3
  - "pypy3"

  # Dev python builds
  -  "3.5-dev"
  - "3.6-dev"
  - "3.7-dev"
  - "3.8-dev"
  - "3.9-dev"
install:
  - pip3 install --upgrade pip
  - pip3 install -r requirements.txt
script:
  - TESTFILE